#entry {
    min-height: calc(100vh - 4rem);
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    padding: 1.5rem;
    margin-bottom: 0.1rem;
}

.paragraph {
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 1rem;
    margin: 1rem auto;
}

.image {
    height: 15rem;
    width: 15rem;
    margin: 4rem auto;
}
